= simple_form_for(@place, html: {id: "modal_addform", class: ""}) do |f|
  #result
    - if @origin 
      .control-group
        %label.control-label{for: "add_approval"} Approved
        .controls
          = f.input :approved, as: :boolean, label: false, input_html: {class: "input-xlarge"} 
  %fieldset
    .control-group
      %label.control-label{:for => "add_type"} בחרו מה מתאר בצורה הטובה ביותר את המיזם שלכם
      .controls
        = f.input :type ,collection: TYPES, include_blank: false, label: false 

    .control-group
      %label.control-label{for: "add_owner_name"} שם 
      .controls
        = f.input :owner_name, label: false, maxlength: 100, input_html: {class: "input-xlarge"} 
    .control-group
      %label.control-label{:for => "add_owner_email"} דואר אלקטרוני
      .controls
        = f.input :owner_email, label: false, input_html: {class: "input-xlarge"} 
    .control-group
      %label.control-label{:for => "add_title"} שם המיזם
      .controls
        = f.input :title, label: false,  input_html: {class: "input-xlarge"}
    


   

    .control-group
      %label.control-label{:for => "add_address"} כתובת 
      .controls
        = f.input :address,label: false, :input_html =>{:id => 'gmaps-input-address', class: "input-xlarge"}, :placeholder => 'Start typing a place...'
      #gmaps-canvas
    .control-group
      %label.control-label{:for => "add_uri"} אתר
      .controls
        = f.input :uri, label: false, placeholder: "http://www.yourdomain.com",input_html: {class: "input-xlarge"}
        %p.help-block
          Should be your full URL with no trailing slash, e.g. "http://www.yoursite.com"
    .control-group
      %label.control-label{:for => "add_description"} תארו במשפט אחד מה אתם עושים
      .controls
        = f.input :description, label: false, input_html: {class: "input-xlarge", maxlength: "150"}
        %p.help-block
          Brief, concise description. What's your product? What problem do you solve? Max 150 chars.

    .control-group
      %label.control-label{:for => "add_description_big"} מהי תרומתכם החברתית?
      .controls
        = f.input :description_big, label: false, as: :text, input_html: {style: "width: 90%;", :rows => 10}

  .modal-footer.pull-right
    %button#submit-it.btn.btn-primary.btn-medium
      %span
        Save
    - if !@origin.blank? 
      %a{href: places_path}
        %button.btn.btn-medium
          Cancel 
    - else
      %a.btn.btn-medium{"data-dismiss" => "modal", :href => "#"} Close
    
  
:javascript
  $(document).ready(function() {
    if ($("#place_type option:selected").text() != "Events"){ 
      $(".form-date").hide();
    }
  });

  $("#place_date").datepicker({ format: 'MM d, yyyy' });

  $("#place_type").change(function() {
    if ($("#place_type option:selected").val() == "event") {
      $(".form-date").slideToggle();
      $("#place_date").attr("required", "required");
    }
    else
    {
      if ($("#place_date").is(":visible")) {
        $(".form-date").slideToggle();
        $("#place_date").removeAttr("required", "required");
      }
    }
  });
  
  
  
