

.page-header
  .pull-right
    = link_to new_place_path do
      %button.btn.btn-info
        Add a new place
  %h2
    Places

  .row
    .tabbable.span2{style: "margin-top: 36px;"}
      %ul.nav.nav-tabs.nav-stacked#places_tab
        %li.active
          = link_to "#all", :'data-toggle' => 'tab' do
            = "All"
            %span.badge.badge-info.pull-right= @places.count
        %li
          = link_to "#pending", :'data-toggle' => 'tab' do
            = "Pending"
            %span.badge.badge-important.pull-right= @places.pending.count
        %li
          = link_to "#accelerator", :'data-toggle' => 'tab' do
            = "Accelerators"
            %span.badge.badge-info.pull-right= @places.accelerator.count
        %li
          = link_to "#coworking", :'data-toggle' => 'tab' do
            = "Coworking"
            %span.badge.badge-info.pull-right= @places.coworking.count
        %li
          = link_to "#investor", :'data-toggle' => 'tab' do
            = "Investors"
            %span.badge.badge-info.pull-right= @places.investor.count
        %li
          = link_to "#academy", :'data-toggle' => 'tab' do
            = "Academy"
            %span.badge.badge-info.pull-right= @places.academy.count
        %li
          = link_to "#social", :'data-toggle' => 'tab' do
            = "Social"
            %span.badge.badge-info.pull-right= @places.social.count



    .tabbable.span10
      .tab-content
        .tab-pane.active#all
          = render 'places/admin/all'
        .tab-pane#pending
          = render 'places/admin/pending'
        .tab-pane#academy
          = render 'places/admin/academies'
        .tab-pane#accelerator
          = render 'places/admin/accelerators'
        .tab-pane#coworking
          = render 'places/admin/coworkings'
        .tab-pane#investor
          = render 'places/admin/investors'
        .tab-pane#social
          = render 'places/admin/social'
      
