%html
  %head
 
    
    %title Mapped2act 
    %meta{:content => "width=device-width,  initial-scale=1.0, user-scalable=no", :name => "viewport"}
      %meta{:charset => "UTF-8"}
        %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400,700", :rel => "stylesheet", :type => "text/css"}

    = javascript_include_tag "label"
    = javascript_include_tag "form"

  %body

    #sb-site.container
      = render "nav_bar"
      
      = render "layouts/messages"
      .canvas
        #map_canvas
        = render "footer"
      
      
    .sidebar
      = render "menu"

      
    = render "more_info"
    = render "modal_form"
    = render "modal_privacy"

