!!!
%html
  %head
 
    
    %title Mapped2act 
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no", :name => "viewport"}
      %meta{:charset => "UTF-8"}
        %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400,700", :rel => "stylesheet", :type => "text/css"}

    = javascript_include_tag "map"
    = javascript_include_tag "label"
    = javascript_include_tag "form"

  %body

    .container
      = render "layouts/messages"
      .canvas
        #map_canvas
      .sidebar
        = render "menu"
        = render "menu_mobile"
        = render "nav_bar"
        = render "footer"
    = render "more_info"
    = render "modal_form"

